.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fxt-infoBox-container .fxc-infoBox-text {
  padding: 16px 0 16px 0;
}

.fxc-infoBox-text {
  width: 100%;
  margin-left: 20px;
  
  background-color: #fff8f0;
  border-color: #fff8f0;
}
.top-container{
  text-align: left;
  font-size: 1.25em;
  margin-bottom: 12px;
  font-weight: bold;
}
.bottom-container{
  margin-right: 25px;
  text-align: left;
  font-size: 0.95em;
}
.Header{
  text-align: blue;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
